{% extends 'base.html.twig' %}

{% block title %}
todo show series title | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>
        todo series title
    </h2>

    {# todo show serie details #}
{% endblock %}