{% extends 'base.html.twig' %}

{% block body %}

    <h2>HMMMM ! Looks like you took a left turn when you should have went right or vice versa, in any case you've got to a 404 Error Page !</h2>
    
{% endblock %}

{% block title %}
    Error 404
{% endblock %}