    <nav>
        <ul>
            <li><a href="#" title="">Home</a></li>
            <li><a href="#" title="">Test</a></li>
            <li><a href="#" title="">Other</a></li>
        </ul>
    </nav> 