    <nav>
        <ul>
            <li><a href="{{ path('main_home') }}" title="">Home</a></li>
            <li><a href="#" title="">Test</a></li>
            <li><a href="{{ path('main_other') }}" title="">Other</a></li>
        </ul>
    </nav> 